{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block nav %}
<nav class="navbar" style="border-bottom: 2px solid #52688F">
  <div class="container-fluid">
    <ul class="nav">
    <li class="nav-item">
      <h4 class="nav-title">Category</h4>
    </li>
    </ul>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'categories_list' %}">Back to Categories</a>
  </li>

</ul>
</div>
</nav>
{% endblock %}
{% block content %}

<div>
<form method = "POST">{% csrf_token %}
  <div class='row'>
    <div class="col-6">
      {{ form.cat_name|as_crispy_field }}
      </div>
   
    </div>
  <button type="submit">Submit</button>
  </form>
  </div>
{% endblock %}